<div class="d-flex flex-column gap-2">
    <!--  @for(project of projects; track project.name){
    <div class="d-flex flex-row justify-content-between border border-dark-subtle p-2 rounded align-items-center">
        <div class="name">
            {{project.name}}
        </div>
        <div class="description">
            {{project.description}}
        </div>
        <div class="download">
            <button class="btn btn-outline-primary"><i class="bi bi-download"></i></button>
        </div>
    </div>
    }@empty {
    <div class="row">
        <div class="col text-center">
            Voce ainda nao possui projetos disponiveis, Carregue seus projetos para comecar
        </div>
    </div>
    } -->
    @if(projectData && !uploading.isUploading){
    <app-upload-project [projectData]="projectData" (updateItem)="listUpdateHandler($event)"
        (imageListChange)="updateImageList($event)"></app-upload-project>
    } @else if(uploading.isUploading) {
    <div class="row">
        <div class="col">
            <div class="progress" role="progress" aria-label="Animated striped example" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" [ngStyle]="progressBarStyle()">
                </div>
            </div>
        </div>
    </div>
    } @else {
    <div class="row">
        <div class="col text-center">
            Voce ainda nao possui projetos disponiveis, Carregue seus projetos para comecar
        </div>
    </div>
    }
</div>