@if(itemForm){
<form [formGroup]="itemForm" (submit)="submit()">
    <div class="row">
        <div class="col">
            <div class="input-group input-group mb-3">
                <span class="input-group-text" id="title">Titulo</span>
                <input type="text" class="form-control" formControlName="title" aria-label="Sizing example input"
                    aria-describedby="title" name="title">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="input-group input-group mb-3">
                <span class="input-group-text" id="client">Cliente</span>
                <input type="text" class="form-control" formControlName="client" aria-label="Sizing example input"
                    aria-describedby="client" name="client">
            </div>
        </div>
        <div class="col">
            <div class="input-group input-group mb-3">
                <span class="input-group-text" id="type">Tipo</span>
                <input type="text" class="form-control" formControlName="type" aria-label="Sizing example input"
                    aria-describedby="type" name="type">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group input-group mb-3">
                <span class="input-group-text" id="address">Endereço</span>
                <input type="text" class="form-control" formControlName="address" aria-label="Sizing example input"
                    aria-describedby="address" name="address">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col">
                <app-product-list-list [listData]="list" (selection)="handleSelectedItem($event)"
                    (updateItem)="listUpdateHandler($event)"
                    (imageListChange)="updateImageList($event)"></app-product-list-list>
            </div>
            <!-- <div class="col-4">
                <app-product-list-view></app-product-list-view>
            </div> -->
        </div>
    </div>
    <div class="row ">
        <!-- <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="addNew" formControlName="addNew" checked>
                <label class="form-check-label" for="addNew">
                    Adicionar novos items
                </label>
            </div>
        </div> -->
    </div>

</form>
}