<table class="table table-striped">
    <thead>

        <th class="user-select-none" style="width: 140px" scope="col" sortable="image" (sort)="onSort($event)">IMAGEM
        </th>
        <th class="user-select-none" scope="col" sortable="description" (sort)="onSort($event)">DESCRIÇÃO</th>
        <th class="user-select-none" style="width: 100px" scope="col" sortable="unit" (sort)="onSort($event)">QUANT
        </th>
    </thead>
    <tbody>
        @for(item of listData; track item.description){
        <tr>


            @if(item.imageUrl){ <td style="text-align: center;">
                <img [src]="item.imageUrl" style="height: 50px;" class=" rounded img-fluid" [alt]="item.description">
            </td>
            } @else {
            <td style="text-align: center;" class="drop-area">
                <div class="d-flex align-items-center justify-content-center" (dragover)="onDragOver($event)"
                    (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event, item)">

                    <i class="bi bi-cloud-upload"></i>

                    <div class="flex-shrink-1">

                        Araste uma imagem
                    </div>
                </div>
            </td>
            }


            <td>
                {{item.description}}
            </td>
            <td>
                {{item.quantity}}
            </td>

        </tr>
        }@empty {
        <tr>
            <td colspan="6" style="text-align: center">Nenhum item encontrado</td>
        </tr>
        }
    </tbody>

</table>